<h1>Channels!</h1>



<% @channels.each do |channel| %>
<%= link_to channel do %>
  <div class="channel">
    <h2><%= channel.title %></h2>
    <p class="author"> BY <span><%= channel.author %></span></p>
    <p><%= channel.summary %></p>
    <p class="meta">CATEGORY: <span><%= channel.category %></span></p>
    <p class="meta">LANGUAGE: <span><%= channel.language %></span></p>
    <p class="meta">Episodes: <span>8</span></p>
    <div><%= link_to 'Edit', edit_channel_path(channel) %><%= link_to 'Destroy', channel, method: :delete, data: { confirm: 'Are you sure?' } %><%= link_to 'RSS', channel_path(channel, :rss) %></div>
</div>
    <% end %>
<% end %>
<%= link_to 'New Channel', new_channel_path, :class => "btn" %>
