<p id="notice"><%= notice %></p>
<%= link_to "RSS Feed for Channel", channel_path(@channel,:rss) %>
<p>
  <b>Author:</b>
  <%= @channel.author %>
</p>

<p>
  <b>Title:</b>
  <%= @channel.title %>
</p>

<p>
  <b>Summary:</b>
  <%= @channel.summary %>
</p>

<p>
  <b>Category:</b>
  <%= @channel.category %>
</p>

<p>
  <b>Language:</b>
  <%= @channel.language %>
</p>

<dl>
  <%= render @channel.episodes %>
</dl>

<%= link_to 'Edit', edit_channel_path(@channel) %> |
<%= link_to 'Back', channels_path %>
