<%= form_for(@episode) do |f| %>
  <% if @episode.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@episode.errors.count, "error") %> prohibited this episode from being saved:</h2>

      <ul>
      <% @episode.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :channel_id %><br />
    <%= f.collection_select( :channel_id, Channel.all, :id, :title ) %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :subtitle %><br />
    <%= f.text_field :subtitle %>
  </div>
  <div class="field">
    <%= f.label :track_length %><br />
    <%= f.number_field :track_length %>
  </div>
  <div class="field">
    <%= f.label :content_type %><br />
    <%= f.text_field :content_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
