<p id="notice"><%= notice %></p>

<p>
  <b>Channel:</b>
  <%= link_to @episode.channel.title, channel_path(@episode.channel) %>
</p>

<p>
  <b>Title:</b>
  <%= @episode.title %>
</p>

<p>
  <b>Subtitle:</b>
  <%= @episode.subtitle %>
</p>

<p>
  <b>Track length:</b>
  <%= @episode.track_length_formatted %>
</p>

<%= debug(:audio) %>

<%= link_to 'Edit', edit_episode_path(@episode) %> |
<%= link_to 'Back', episodes_path %>
